---
import CardAbout from "../CardAbout.astro";
import Carrusel from "../Carrusel.astro";
import CoreValuesAbout from "../CoreValuesAbout.astro";
---

<!-- Seccion principal del about -->
<section id="about">
  <CardAbout />
  <CoreValuesAbout />
  <Carrusel />
</section>
