---

---

<!-- seccion de inicio -->
<section
    id="home"
    class="w-screen bg-cover bg-no-repeat text-center
    flex flex-col justify-center items-center text-white
    pr-[20px] pl-[20px] pb-[160px] pt-[130px]
    bg-[url('/src/assets/Mobile-img/mobile-Header.jpg')]
    sm:bg-[url('/src/assets/Desktop-img/desktop-Header.jpg')]
    xlg:pl-[100px] xlg:pb-[180px] xlg:pt-[160px]
    xxl:pr-[140px] xxl:pl-[140px] xxl:pb-[200px] xxl:pt-[180px]"
>
    <h1
        class="text-white text-[60px] font-normal font-bebas tracking-[10.24px]
        xxl:text-8xl xxl:text-[96px] font-['Bebas Neue'] tracking-[15.36px] xxl:tracking-[20px]"
    >
        <span class="text-primary">TU ESPACIO VERDE,</span><br />
        NUESTRA TAREA
    </h1>

    <p class="font-bold text-2xl uppercase tracking-[4.80px]">
        SERVICIO INTEGRAL DE JARDINERIA Y PAISAJISMO
    </p>

    <p class="text-xl font-medium leading-10">
        Diseño, construcción y mantenimiento de espacios verdes, parques y
        jardines interiores / exteriores. <br /> Trabajamos con instituciones y particulares,
        adaptándonos a cada situación, haciendo de tu espacio verde <br /> un lugar
        único a la altura de tus pretensiones y necesidades
    </p>
</section>
