---
import Arrow from "../assets/Icons/Arrow.astro";
---

<a
  href="#home"
  id="scroll-to-top"
  class="z-50 opacity-0 fixed bottom-10 right-10 w-12 h-12 bg-secondary
   rounded-full shadow-lg justify-center items-center inline-flex cursor-pointer
   xlg:w-12 xlg:h-12
   xxl:w-16 xxl:h-16"
>
  <Arrow />
</a>

<script type="module">
  const scrollToTopButton = document.getElementById("scroll-to-top");

  function toggleVisibility() {
    if (window.scrollY > 340) {
      scrollToTopButton.classList.remove("opacity-0");
      scrollToTopButton.classList.add("opacity-100");
    } else {
      scrollToTopButton.classList.remove("opacity-100");
      scrollToTopButton.classList.add("opacity-0");
    }
  }

  window.addEventListener("scroll", toggleVisibility);
</script>
