---
const { label, bgColor = "#FFFFFF", textColor = "#564376" } = Astro.props;
---

<div
  class="justify-center items-center gap-6 inline-flex
  p-3 bg-white rounded-[23px]
  xlg:h-10 xlg:px-4 xlg:py-1 xlg:rounded-[15px]
  xlg:items-center xlg:inline-flex xlg:text-xs xlg:font-medium xlg:leading-6
  xxl:h-16 xxl:px-8 xxl:py-3 xxl:rounded-[23px] md:justify-center
  xxl:items-center xxl:inline-flex xxl:text-base xxl:font-semibold xxl:leading-10"
  style={`background-color: ${bgColor}; color: ${textColor};`}
>
  <span>{label}</span>
</div>
