---

---

<button
    class="h-14 px-[34px] bg-secondary hover:bg-[#6a5b89] rounded-[50px] shadow-[0px_10px_20px_0px_rgba(0,0,0,0.35)] flex items-center justify-center"
>
    <a
        href="#"
        class="text-white text-base font-semibold font-['Manrope'] w-full h-full flex items-center justify-center"
    >
        Contáctanos
    </a>
</button>
